Workshop1/W1-SOAP-Service/contract/pagos.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:pay="http://www.servicios.co/pagos/schemas"
             xmlns:tns="http://www.servicios.co/pagos/service"
             targetNamespace="http://www.servicios.co/pagos/service"
             name="PagosSerivce">

    <types>
        <xsd:schema xmlns:pay="http://www.servicios.co/pagos/schemas">
            <xsd:import schemaLocation="pagos.xsd" namespace="http://www.servicios.co/pagos/schemas"/>
        </xsd:schema>
    </types>

    <message name="Consulta">
        <part name="Input" element="pay:ReferenciaFactura"/>
    </message>

    <message name="RespustaConsulta">
        <part name="Input" element="pay:ResultadoConsulta"/>
    </message>

    <message name="Pago">
        <part name="Input" element="pay:Pago"/>
    </message>

    <message name="ResultadoPago">
        <part name="Input" element="pay:Resultado"/>
    </message>

    <message name="Compensacion">
        <part name="Input" element="pay:Pago"/>
    </message>

    <message name="ResultadoCompensacion">
        <part name="Input" element="pay:Resultado"/>
    </message>

    <portType name="PagosInerface">
        <operation name="Cosultar">
            <input message="tns:Consulta"/>
            <output message="tns:RespustaConsulta"/>
        </operation>

        <operation name="Pagar">
            <input message="tns:Pago"/>
            <output message="tns:ResultadoPago"/>
        </operation>

        <operation name="Compensar">
            <input message="tns:Pago"/>
            <output message="tns:ResultadoPago"/>
        </operation>
    </portType>

    <binding name="ServicioPagos" type="tns:PagosInerface">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

        <operation name="Cosultar">
            <soap12:operation soapAction="consultar" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>

        <operation name="Pagar">
            <soap12:operation soapAction="pagar" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>

        <operation name="Compensar">
            <soap12:operation soapAction="compensar" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="ServiciosPagos">
        <port name="Pagos" binding="tns:ServicioPagos">
            <soap12:address location="http://www.servicio.co/pagos"/>
        </port>
    </service>
</definitions>